@tailwind base;
@tailwind components;
@tailwind utilities;

audio {
  @apply rounded-full p-2 mb-4 bg-bg_light rounded-md w-full text-gray-200;
  @apply cursor-pointer bg-hover duration-300 hover:bg-primary
}

audio div {
  @apply rounded-full p-2 mb-4 bg-bg_light rounded-md w-full text-gray-200;
  @apply cursor-pointer bg-hover duration-300 hover:bg-primary
}

audio iframe{
  @apply rounded-full p-2 mb-4 bg-bg_light rounded-md w-full text-gray-200;
  @apply cursor-pointer bg-hover duration-300 hover:bg-primary
}
input, textarea, select {
  @apply rounded-md p-2 bg-bg_light w-full active:outline-none placeholder:px-4;
  @apply focus:outline-none text-base
}

button {
  @apply p-2 text-gray-200 text-base;
  @apply duration-300 hover:bg-primary focus:bg-hover;
  @apply flex items-center justify-center gap-2 bg-bg_alt p-2 px-2 rounded-lg cursor-pointer
}

.secondaryButton {
  @apply rounded-md p-2 w-full text-gray-200 text-[14px];
  @apply cursor-pointer bg-hover duration-300 hover:bg-primary focus:bg-hover;
  @apply flex items-center justify-center gap-2 bg-bg_alt p-1 px-2 rounded-full cursor-pointer
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #646464;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #3f3f3f;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

}
